@import 'base';
@import 'vendor/normalize';
$border-color : #AAA;

html{
	font-size: 12px;
}

body{
	//body styles to decide later 
	font-size:100%;
}

/* Global Valid Styles */
.positionright{
	float:right !important;
}

.fa{
	font-size:1em;
}

.together >*{
	display: inline;
}

.grey{
	color: #AAA;
}

.no-border{
	border: none !important;
}

.social-icons {
	font-size: 2em;
	margin-top: 3%;

	>i{
		border: 1px solid #fff;
		border-radius: 50%;
		width: 40px;
		height: 40px; 
		position: relative;
		top:5px;
		margin-left:5%;
		padding-left: 8px;
		padding-top:6px;
	  }
}

input[type="checkbox"] {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 8px;
	margin-top: 1px;
	display: inline-block;
	position: relative;
	outline: none;
}

input[type="checkbox"]:checked{
    outline: none; 
    background-color: #666;
    color:#FFF;
}

input[type="checkbox"]:checked::after{
	content: '\2714';
    position: absolute;
    font-size: 0.75em;
    top: 0px;
    left: 3.5px;
}


.checkbox span, .radio span {
	margin-left: 10px;
}

/* Header Styles */
#topheader{
	background: #333;
	color:#FFF;
	padding:6px 2% 5px 2%;
	font-size: 1em;

	#phones{
		p{
			display: inline;
			margin-left: 5px;
		}
		p::after{
			content: "|";
		}
		P:last-child::after{
			content: "";
		}
	}

	.glyphicon{
		margin-left: 1%;
	}

	.accountdisplay{
		width: 60px;
		display: inline;
		margin-left: 16px;
	}
} 

#bottomheader{
	background: #EFEFEF;
	color:#000;
	font-size:1.2em;
	font-weight: 600;
	padding-bottom: 0;
	margin-bottom: 0;	
	text-transform: uppercase;

	#navbar > *{
		display: inline;
		margin-left: 15px;
	}

	a{
		margin-top: 10px;
		margin-bottom: -10px;
		padding-top: 5px; 
		padding-bottom: 5px; 
	}
	a:hover{
		/* border: 1px solid #666;
		border-radius: 5px;
		color: red; */
	}
}


#homeview {
	font-size: 1.2em;
	background-color: #FFF;

	.wrapper{
		background-color: #88a;
		padding: 2% 0;
	}

	.nav-tabs{
		text-align: center;

		.active{
			
			>a{
				background-color: #ff0000;
				border-bottom: 1px solid #FFF;
			}	
		}

		li{
			border-radius:5px 5px 0px 0px;
			outline: none;
			border: none;
				
			a{
				background-color: rgba(255,255,255,0.3);
				outline: none;
				border: none;
				color: #FFF;
				font-weight: bold;

			}
		}
	}

	#homemenu{
		margin:0 25%;

		.tab-content{
			background-color: #FFF;
			padding: 2% 2% 5% 2%;
    		margin: 0 -2.3% 0 -2.3%;
    		border-radius: 0 0 6px 6px;

    		.grey{
    			font-weight: bold;
    			font-size: 1.2em;
    			margin-bottom: 4%;
    		}

    		label{
    			color: #555;
    			font-size: 0.9em;
    		}

    		.specialsubmit{
    			margin-left: 4%;

    			button{
    				margin-top: 2%;
    			}
    		}
		}
	}
}

#mainslider{
	min-width: 100%;
	margin-top: -20px;
	padding-top: 0;
}

#main-content{
	margin-top: -20px;
	background-color: #E7E7E7;
}

.breadcrumb{
	font-size: 1.3em;
	background-color: #333;
	border-radius: 0;
	color: #FFF;

	a{
		color: #FFF;
	}

	li:first-child{
		margin: 0 0 0 4%;
	}

	li+li:before{
		content: ">";
	} 
}

#searchleftlayout{
	margin:2% 0 0 10%;
	font-size: 1.2em;

	#map-button{
		font-size: 0.9em;
		padding-left: 30%;
		padding-right: 30%; 
		padding-top: 3%;
		padding-bottom: 3%; 
		background-color: #ff1111;
		font-weight: bold;
		outline: none;
		border-radius: 2px;
		border: none;
	}

	#map-button::hover, #map-button::focus{
		outline: none;
		border-radius: 2px;
		border: none;
	}

	#filters{
		margin-top: 15px;
		background-color: #FFF;
		margin-right: 10%;
		font-size: 1em;
		padding: 2% 3% 2% 6%;	
		.form-group{
			margin-bottom: 0;
		}

		>*{
			padding-left:8%; 
		}

		#filterhead{
			margin: 2%;
			padding:0 5%; 
			border-bottom: 1px solid $border-color;
			p{
				float: left;
			}
		}

		#cusinetype {
			border-bottom: 1px solid $border-color;
		}
	}

	#needhelp{
		margin-top: 15px;
		background-color: #FFF;
		margin-right: 18%;
		font-size: 1.5em;
		padding: 2% 3% 0 3%;	
		.form-group{
			margin-bottom: 0;
		}
	}
}

#searchrightlayout{
	font-size: 1.2em;
	margin-left: -10px;
	margin-right: 5%;

	#sorters{
		background-color: #eee;
		padding: 10px 0;
		margin-bottom: 15px; 
		>*{
			margin:0 10px;
		}
	}

	#searchcontent{
		.row{
			border-bottom: 1px solid #AAA;
			padding-bottom:  3px;
			padding-top: 3px;
			margin-top: 2%;
		}
		.row:last-child{
			border: none;
		}
		.hoteltext{
			margin:10px; 
			
			.together{
				margin-right: 10%;
			}
		}



	}
}

#footer{
	background-color: #333;
	color: #FFF;
	min-height: 200px;
	padding-top: 2%;
	padding-bottom: 10%;
	font-weight: bold;

	>*{
		text-align: left;
		color: #FFF;
	}

	a{
		display: inherit;
		color: #AAA;
		text-decoration: none;
	}

	a:hover{
		color: #FFF;
	}

	.form-control{
		margin: 10px 0;
	}

	#leftfooter, #midfooter, #rightfooter{
		border-bottom: 1px solid #DEDEDE;
	}

	#leftfooter{
		margin-right: 20px;
		padding-bottom: 30px;
	}
	#midfooter{
		margin-right: 20px;
		padding-bottom: 50px;
	}
	#rightfooter{
		padding-bottom: 52px;
	}

	.mid-bottom{
		margin-top:4%;
		text-align: center;

		*{
			display: inline-block;
		}
		a{
			display: inline-block;
			margin:0 2px;
		}

		a::after{
			content: "|";
		}

		a:last-child::after{
			content: "";
		}
	}

	.footer-hiring{
		margin-top:3%;
	}
}