@import 'base';
@import 'vendor/normalize';

body{
	//body styles to decide later 
	font-size:100%;
}

/* Global Valid Styles */
.positionright{
	float:right !important;
}

.fa{
	font-size:1.2em;
}

/* Header Styles */
#topheader{
	background: #333;
	color:#FFF;
	padding:6px 2% 5px 2%;
	font-size: 1.2em;

	#phones{
		p{
			display: inline;
			margin-left: 5px;
		}
		p::after{
			content: "|";
		}
		P:last-child::after{
			content: "";
		}
	}

	.glyphicon{
		margin-left: 1%;
	}

	.accountdisplay{
		width: 60px;
		display: inline;
		margin-left: 16px;
	}
} 

#bottomheader{
	background: #EFEFEF;
	color:#000;
	font-size:1.5em;
	font-weight: 600;
	

	#navbar > *{
		display: inline;
		text-transform: uppercase;
		margin-left: 15px;
	}
}




